 <!-- Home Banner -->

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center text-lighten-2">Text-Tracker <i class="medium material-icons prefix">sms</i></h1>
        <div class="row center">
          <h5 class="header col s12 light">Who's at your event?</h5>
        </div>

        <!-- Search Bar -->
        <form id="mainSearch" class="row">
          <div class="input-field col m8 s12 center">
            <input id="search" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
          <div class="input-field col m4 s12">
            <select required="required" id="searchParam">
              <option value="">Choose</option>
              <option value="eventName">Event by Name</option>
              <option value="eventKeyword">Event by Keyword</option>
              <option value="personName">Person by Name</option>
              <option value="personCell">Person by Cell</option>
            </select>
            <label>Search For:</label>
          </div>
          <!-- Submit button for new event -->
          <button id="newSearch" class="btn waves-effect waves-light row right" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </form>
        <br><br>
      </div>
    </div>
  </div>
