
  <div class="row"></div>
  <div class="container">
  <!-- Header -->

    <div class="section row">
      <h5>Add a New Event</h5>
      <div class="divider row"></div>
    </div>

    <!-- New Event Field -->
    <div class="row">
      <form class="col s12 bottom" id="eventForm">
        <div class="row">
          <!-- Event Name -->
          <div class="input-field col m6 s12">
            <i class="material-icons prefix">event</i>
            <input id="title" type="text" class="validate">
            <label for="title">Event Name</label>
          </div>
        <!-- Location of Event -->
          <div class="input-field col m6 s12">
            <i class="material-icons prefix">add_location</i>
            <input id="location" type="text" class="validate">
            <label for="location">Location</label>
          </div>
        </div>
        <!-- Keyword -->
        <div class="row">
          <div class="input-field col m6 s12">
            <i class="material-icons prefix">sms</i>
            <input placeholder="Texting keyword for event" id="keyword" type="text" class="validate">
            <label for="keyword">Keyword</label>
          </div>
        <!-- Event Host -->
          <div class="input-field col m6 s12">
            <i class="material-icons prefix">wc</i>
            <input id="host" type="text" class="validate">
            <label for="host">Host</label>
          </div>
        </div>
        <!-- Submit button for new event -->
        <button id="newEvent" class="btn waves-effect waves-light row right" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </form>
      <div class="offset row"></div>
      <div class="offset row"></div>
    </div>
  </div>
