
  <div class="row"></div>
  <div class="container">
  <!-- Header -->

    <div class="section row">
      <h5>Add a New Person</h5>
      <div class="divider row"></div>
    </div>

    <!-- New Person Field -->
    <div class="row">
      <form class="col s12" id="personForm">
        <div class="row">
          <!-- Person Name -->
          <div class="input-field col s6">
            <input id="firstName" type="text" class="validate">
            <label for="firstName">First Name</label>
          </div>
          <!-- Person Name -->
          <div class="input-field col s6">
            <input id="lastName" type="text" class="validate">
            <label for="lastName">Last Name</label>
          </div>
        </div>
        <!-- Cell Number -->
        <div class="row">
          <div class="input-field col s6">
            <input id="cell" type="tel" class="validate">
            <label for="cell">Cell Number</label>
          </div>
        <!-- Email -->
          <div class="input-field col s6">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <!-- Event Type -->
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="(Insert the texting keyword used for event)" id="keyword" type="text" class="validate">
            <label for="keyword">Event Attended</label>
          </div>
        <!-- role -->
        <div class="input-field col s6">
          <input placeholder="guest, volunteer, staff, etc." id="role" type="text" class="validate">
          <label for="role">Role</label>
        </div>
        </div>
        <!-- Submit button for new Person -->
        <button id="newPerson" class="btn waves-effect waves-light row right" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>
