form.signup,
form.login {
  margin-top: 50px;
}

/* headers */
h1 {
  color: #693668;
}


/* bottom navbar */
.navbar-bottom {
	position: fixed;
	width: 100%;
	text-align: center;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99;
	height: 60px;
	background: #1B1B3A;
	padding: 15px 0;
	box-shadow:  0 -4px 8px -6px #999;
}

.navbar-bottom a i {
	font-size: 30px;
	color: #A74482;
	color: #fff;
}

.bar-center a i {
	border: 2px solid #eee;
	border-radius: 50%;
	padding: 10px;
	font-size: 15px;
	margin-left: 22px;
}

.bar-center span {
	position: relative;
	left: -32px;
	top: -20px;
	background: #fff;
	padding: 0px 6px;
	border-radius: 50%;
	color: #222;
	font-weight: bold;
	cursor: default;
}
/* end bottom navbar */